[Unit]
Description=Telegram Status Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/kudep/Documents/watch_home_dog/telegram_status.py

[Install]
WantedBy=multi-user.target
